<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269093449072-bdp3gtgpc88v3tm0m9p2u48ccb01h8d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269093449072-bdp3gtgpc88v3tm0m9p2u48ccb01h8d3</string>
	<key>API_KEY</key>
	<string>AIzaSyAB9Yk4Lv3fDJjuCpRPKDlAjQP_7iQSibo</string>
	<key>GCM_SENDER_ID</key>
	<string>269093449072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.apps.62</string>
	<key>PROJECT_ID</key>
	<string>fir-cordova-test</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cordova-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269093449072:ios:232e0333a12c88c1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-cordova-test.firebaseio.com</string>
</dict>
</plist>